### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### IDE FILES ###
.vscode/

### database ###
core/database/

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

### Virtual Enviroment ###
venv/

### Config Files ###
core-settings.json

### Node mocules ###
app/node_modules
