.checklist {
    .table {
        &__header {
            width: 20%;
            @include respond-to($bp-m, max) {
                width: 33%;
                &:nth-child(2), &:nth-child(3) {
                    display: none;
                }
            }
        }
        &__col {
            width: 20%;
            @include respond-to($bp-m, max) {
                width: 33%;
                &:nth-child(2), &:nth-child(3) {
                    display: none;
                }
            }
        }
    }
}
