.user-form {
    width: 100%;
    background-color: $white;
    margin: $size-m 0;
  &__headers {
    background-color: $checklist-table-color;
  }
  &__head {
    padding: $size-s;
    font-size: 14px;
    font-family: $font-roboto-medium;
  }
  &__rows {
    display: flex;
    flex-direction: column;
  }
  &__row {
    display: flex;
  }
  &__submit {
    padding: $size-s 0;
    background: $bg-color;
    text-align: right;
  }
}