.table {
    margin: $size-m 0;
    background-color: $white;
    &__headers {
        display: flex;
        background-color: $checklist-table-color;
    }

    // This is the col in the headers part
    &__header {
        padding: $size-s;
        font-size: 14px;
        font-family: $font-roboto-medium;
    }

    &__rows {
        display: flex;
        flex-direction: column;
    }

    &__row {
        display: flex;
        border-bottom: $checklist-table-color 1px solid;
    }

    // This is the col in the rows part
    &__col {
        padding: $size-s;
        font-size: 14px;
        line-height: 1.3;
        border-right: $checklist-table-color 1px solid;
        &:nth-child(1) {
            border-left: $checklist-table-color 1px solid;
        }
    }
}