//Colors

$white: #fff;
$bg-color: #f4f4f4;
$black-font: #333;
$highlight-blue: #3c8dbc;
$highlight-blue-02: #296282;
$highlight-blue-03: #32769d;
$highlight-green: #007d44;
$highlight-green-02: #007d44;
$highlight-red: #dd4b39;
$checklist-table-color: #ddd;
$footer-bg: #222;

//Fonts

$font-roboto-thin: 'RobotoThin', sans-serif;
$font-roboto-thin-italic: 'RobotoThinItalic', sans-serif;
$font-roboto-light: 'RobotoLight', sans-serif;
$font-roboto-light-italic: 'RobotoLightItalic', sans-serif;
$font-roboto-regular: 'RobotoRegular', sans-serif;
$font-roboto-italic: 'RobotoItalic', sans-serif;
$font-roboto-medium: 'RobotoMedium', sans-serif;
$font-roboto-medium-italic: 'RobotoMediumItalic', sans-serif;
$font-roboto-bold: 'RobotoBold', sans-serif;
$font-roboto-bold-italic: 'RobotoBoldItalic', sans-serif;
$font-roboto-black: 'RobotoBlack', sans-serif;
$font-roboto-black-italic: 'RobotoBlackItalic', sans-serif;

// Margins and Paddings

$size-xs: 8px;
$size-s: 16px;
$size-m: 24px;
$size-l: 32px;
$size-xl: 40px;

//viewports
$bp-m: 768px;
$bp-l: 1024px;
$bp-xl: 1200px;

//Witdhe
$max-width: 1200px;
