$black01: #191b1f;
$black02: #0a0b0c;
$white: #fff;
$white2: #eaeff1;
$gray: #333333;

//Fonts

$font-roboto-thin: 'RobotoThin', sans-serif;
$font-roboto-thin-italic: 'RobotoThinItalic', sans-serif;
$font-roboto-light: 'RobotoLight', sans-serif;
$font-roboto-light-italic: 'RobotoLightItalic', sans-serif;
$font-roboto-regular: 'RobotoRegular', sans-serif;
$font-roboto-italic: 'RobotoItalic', sans-serif;
$font-roboto-medium: 'RobotoMedium', sans-serif;
$font-roboto-medium-italic: 'RobotoMediumItalic', sans-serif;
$font-roboto-bold: 'RobotoBold', sans-serif;
$font-roboto-bold-italic: 'RobotoBoldItalic', sans-serif;
$font-roboto-black: 'RobotoBlack', sans-serif;
$font-roboto-black-italic: 'RobotoBlackItalic', sans-serif;

// Margins and Paddings

$size-xs: 8px;
$size-s: 16px;
$size-m: 24px;
$size-l: 32px;
$size-xl: 40px;

//viewports
$bp-m: 768px;
$bp-l: 1024px;
$bp-xl: 1200px;
