.detail {
    display: flex;
    flex-direction: column;
    &__info {
        background-color: $bg-color;
        font-size: 14px;
    }
    &__name {
        font-family: $font-roboto-medium;
        font-size: 24px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        border-bottom: $field-border-color solid 1px;
        padding: $size-s 0;
        div {
            margin-right: $size-m;
        }
        span {
            font-family: $font-roboto-medium;
        }
    }
    &__options {
        margin: $size-xs 0;
        button {
            margin: 0 $size-s 0 0;
        }
    }
    &__back {
        padding: $size-s 0;
        text-align: right;
        background:$bg-color;
    }
    &__popup {
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: $white;
        padding: $size-xl;
        transform: translate(-50%, -50%);
        border-radius: $size-xs;
        border: 1px solid rgba(0,0,0,.2);
        box-shadow: 0 5px 15px rgba(0,0,0,50%);
    }
    .table {
        &__header, &__col {
            width: 50%;
        }
    }
    .react-datepicker__day--disabled {
        background-color: transparent;
    }
}